<!doctype html>
<html lang="uk">
	<head>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#1e375a" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sidebar 1</title>
		<link rel="stylesheet" href="./../../reboot.css">
		<link rel="stylesheet" href="./../../grid.css">
		<link rel="stylesheet" href="./base.css">
	</head>
	<body class="cp">
		<header>
			<div class="container-fluid">
				Header
			</div>
		</header>
		<div class="container-fluid">
			<div class="row main">
				<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-2 sidebar sidebar-left order-1">
					<div class="scroll">
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
						Sidebar 1<br>
					</div>
				</div>
				<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-10 content order-3">
					<div class="scroll">
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
						Content<br>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
