header nav {
	margin: -8px -15px;
}

.navbar-header {
	position: relative;
}

.navbar-brand {
	color: #fff;
	float: left;
	font-size: 18px;
	font-weight: bold;
	height: 56px;
	line-height: 20px;
	padding: 17px 15px;
	text-decoration: none;
}

.navbar-brand:hover {
	color: #fff;
	text-decoration: none;
}

.navbar-toggle {
	border-radius: 4px;
	border: 1px solid #fff;
	float: right;
	margin-bottom: 8px;
	margin-right: 15px;
	margin-top: 8px;
	padding: 4px 10px;
}

.navbar-nav {
	-ms-flex-direction: column;
	background-color: #205081;
	border-radius: 4px;
	border: 1px solid #fff;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	left: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 15px;
	top: 47px;
}

.navbar-nav.closed {
	display: none;
}

.nav-item {
	border-bottom: 1px solid #35689c;
}

.nav-item:last-child {
	border-bottom: none;
}

.nav-link {
	color: rgba(255, 255, 255, .5);
	display: block;
	padding: 8px 15px;
	text-decoration: none;
}

.nav-link:hover {
	color: rgba(255, 255, 255, .75);
	text-decoration: none;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}

	.navbar-nav {
		background-color: transparent;
		border: none;
		display: block;
		height: 56px;
		position: static;
	}

	.navbar-nav.closed {
		display: block;
	}

	.nav-item {
		display: block;
		float: left;
		height: 56px;
	}

	.nav-link {
		height: 56px;
		line-height: 20px;
		padding: 17px 15px;
	}
}
