.sidebar .navbar-nav {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	display: block;
	height: auto;
	margin-bottom: 15px;
	margin-left: -15px;
	margin-right: 0px;
	padding-bottom: 15px;
	position: static;
}

.sidebar .navbar-nav:last-child {
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.sidebar .nav-item {
	border-bottom: none;
	float: none;
	height: auto;
	padding-left: 15px;
}

.sidebar .nav-link {
	color: #1e375a;
	display: inline;
	height: auto;
	padding: 0px;
}

.sidebar ul.navbar-nav .nav-link {
	font-weight: bold;
}

.sidebar  ul.navbar-nav ul .nav-link {
	font-weight: normal;
}
