<!doctype html>
<html lang="uk">
	<head>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#1e375a" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Index</title>
		<link rel="stylesheet" href="./../../reset.css">
		<link rel="stylesheet" href="./base.css">
		<link rel="stylesheet" href="./sidebar-menu.css">
	</head>
	<body class="cp loading1">
		<header>
			<div class="wrap">
				<div class="sidebar left">
					Sidebar 1
				</div>
				<div class="sidebar right">
					Sidebar 2
				</div>
				<div class="content">
					Content
				</div>
			</div>
		</header>
		<div class="body">
			<div class="wrap">
				<div class="sidebar left">
					<div class="scroll">
						<div class="padding">
							<ul class="nav">
								<li>
									<a href="#">Level 1 Item 1</a>
								</li>
								<li>
									<a href="#">Level 1 Item 2</a>
								</li>
								<li class="active">
									<a href="#">Level 1 Item 3</a>
									<ul class="nav">
										<li class="active">
											<a href="#">Level 2 Item 1</a>
											<ul class="nav">
												<li class="active">
													<a href="#">Level 3 Item 1</a>
												</li>
												<li>
													<a href="#">Level 3 Item 2</a>
												</li>
												<li>
													<a href="#">Level 3 Item 3</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Level 2 Item 2</a>
										</li>
										<li>
											<a href="#">Level 2 Item 3</a>
										</li>
									</ul>
								</li>
							</ul>
							<div class="divider"></div>
							<ul class="nav">
								<li>
									<a href="#">Level 1 Item 1</a>
								</li>
								<li>
									<a href="#">Level 1 Item 2</a>
								</li>
								<li>
									<a href="#">Level 1 Item 3</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="sidebar right">
					<div class="scroll">
						<div class="padding">
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
							Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						</div>
					</div>
				</div>
				<div class="content">
					<div class="scroll">
						<div class="padding">
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
							Content<br>Content<br>Content<br>Content<br>Content<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
