<!doctype html>
<html lang="uk">
	<head>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#1e375a" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Index</title>
		<link rel="stylesheet" href="./../../reset.css">
		<link rel="stylesheet" href="./base.css">
	</head>
	<body class="cp loading">
		<header>
			Text
		</header>
		<div class="wrap">
			<div class="sidebar left">
				<div class="scroll">
					<div class="padding">
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
						Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>Sidebar 1<br>
					</div>
				</div>
			</div>
			<div class="sidebar right">
				<div class="scroll">
					<div class="padding">
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
						Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>Sidebar 2<br>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="scroll">
					<div class="padding">
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
						Content<br>Content<br>Content<br>Content<br>Content<br>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
