.checkbox-circle.white input[type=checkbox]:checked + label {
	border-color: #fff;
}

.checkbox-circle.white input[type=checkbox]:focus + label {
	box-shadow: 0 0 0 0.25rem rgb(211 212 213 / 50%);
}

.checkbox-circle.white input[type=checkbox]:checked + label:before {
	background: #fff;
}
