.checkbox-ios.green input[type=checkbox]:checked + label {
	border-color: #28a745;
}

.checkbox-ios.green input[type=checkbox]:focus + label {
	box-shadow: 0 0 0 0.25rem rgb(60 153 110 / 50%);
}

.checkbox-ios.green input[type=checkbox]:checked + label:before {
	background: #28a745;
}

.checkbox-ios.green input[type=checkbox]:checked + label:after {
	border-color: #28a745;
}
